@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.web {
  background-image: url(../img/음식.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content : center;
}

.navbar {
  border-bottom: 2px solid black;
  background: #FFADAD;
}

.offcanvas {
  background: #FFADAD;
}

.offcanvas-header {
  border-bottom: 2px solid #2c2523;
}

.nav-link {
  margin: 10px;
}

.content {
  margin-top: 180px;
  display: flex;
  justify-content : center;
  width: 70vw;
  height: 508px;
  border-radius: 5px;
  text-align: center;
  background: #f0dfdfb0 ;
}

.select {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin: 20px auto;
  border-top: 2px solid #2c2523;
  border-bottom: 2px solid #2c2523;
}

input[type=checkbox] {
  display: none;
}

.select_2 {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  height: auto;
  margin: 25px auto;
  border-top: 2px solid #2c2523;
  border-bottom: 2px solid #2c2523;
}

input[type=radio] {
  display: none;
}

label {
  flex-grow: 1;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  height: 45px;
  line-height: 45px;
  cursor : pointer;
}

label:hover {
 background-color: #FFEFBC;
 color: #492424;
}

.click {
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.result {
  border: 2px solid #2c2523;
  border-radius: 4px;
  width: 65vw;
  height: 250px;
  margin-top: 25px;
}

.result_food {
  width: 40vw;
  text-align: center;
  margin: 93px auto;

  font-size: 40px;
  font-weight: 600;
}

.submit input {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid #2c2523;
  border-radius: 4px;
  background: #ff9393;
  color: #2c2523;
}
