@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.web {
  /* background : linear-gradient(to top, #E3FDF5 0%, #FFE6FA 100%); */
  background-image: url(../img/날씨.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content : center;
}

.navbar {
  border-bottom: 2px solid black;
  background: #71b5dd;
}

.offcanvas {
  background: #71b5dd;
}

.offcanvas-header {
  border-bottom: 2px solid #2c2523;
}

.nav-link {
  margin: 10px;
}

.content {
  margin-top: 130px;
  width: 80vw;
  text-align: center;
}

.weather {
  border: 2px solid rgb(23, 20, 54);
  border-radius: 4px;
  width: 60vw;
  height: 200px;
  margin: auto;

  background: #dae3e79f ;
}

h3 {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      "b1 b2 b3 b5"
      "b1 b2 b4 b6";
  text-align: center;
  width: 70%;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  margin: auto;
}

#icon {
  grid-area: b1;
}

#temp {
  grid-area: b2;
  margin: auto;
  font-size: 25px;
}

#description {
  grid-area: b3;

}
.fel {
  grid-area: b4;

}
.temin {
  grid-area: b5;

}
.temax {
  grid-area: b6;

}

.imgbox {
  margin-top: 30px;
  width: 80vw;
  display: flex;
  justify-content : center;
}

.imgbox img {
  margin: 10px;
  width: 38vw;
}

